# ===== Global =====
.DS_Store
.env
.env.* 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# ===== Node Modules (Client + Server) =====
node_modules/
client/node_modules/
server/node_modules/

# ===== Dist / Build =====
dist/
client/dist/
server/dist/
build/
tmp/

# ===== Angular Specific =====
client/.angular/cache/
client/.angular/
.client/
.angular/

# ===== Logs =====
logs/
*.log
server/logs/
client/logs/

# ===== TypeScript =====
*.tsbuildinfo

# ===== IDE / Editor Files =====
.vscode/
.idea/
*.swp
*.swo

# ===== OS Files =====
Thumbs.db

# ===== Git =====
.git/

# ===== Other =====
client/.env
server/.env
