<div class="main">
  <div class="main-swiper">
    <swiper-container>
      <swiper-slide>
        <h3>makeup</h3>
        <img src="assets/images/bg1.jpg" alt="" />
      </swiper-slide>
      <swiper-slide>
        <h3>Camera</h3>
        <img src="assets/images/bg2.jpg" alt="" />
      </swiper-slide>
      <swiper-slide>
        <h3>perfume</h3>
        <img src="assets/images/bg3.jpg" alt="" />
      </swiper-slide>
      <swiper-slide>
        <h3>perfume</h3>
        <img src="assets/images/bg4.jpg" alt="" />
      </swiper-slide>
    </swiper-container>

    <div class="images">
      <img src="assets/images/bg1.jpg" alt="" />
      <img src="assets/images/bg2.jpg" alt="" />
    </div>
  </div>

  <div class="container mt-4 categories">
    @for(category of allCategories; track $index) {
    <div class="category-item">
      <p>{{ category }}</p>
    </div>
    }
  </div>


   <div class="row justify-content-center mb-5">
    <div class="col-md-6">
      <input
        type="text"
        [(ngModel)]="term"
        class="form-control rounded-pill px-4 py-3 shadow-sm w-100"
        placeholder="Search for products..."
      />
    </div>
  </div>


 <div class="row g-4 products mt-4 container mx-auto">
  @for (product of paginatedProducts | search: term; track $index) {
    <div class="col-6 col-md-4 col-lg-3">
      <app-productitem [product]="product"></app-productitem>
    </div>
  }
</div>

<!-- Pagination -->
<div class="pagination-wrapper d-flex justify-content-center mt-4 gap-2">
  <button class="btn btn-outline-primary" (click)="prevPage()" [disabled]="currentPage === 1">
    Prev
  </button>

  <button 
    *ngFor="let page of getPageNumbers()" 
    class="btn" 
    [ngClass]="{'btn-primary text-white': page === currentPage, 'btn-outline-primary': page !== currentPage}"
    (click)="goToPage(page)">
    {{ page }}
  </button>

  <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentPage === getTotalPages()">
    Next
  </button>
</div>
  
</div>
